/************************ nav css for all pages *********************/

body {
    margin: auto;
    width: 100vw;
    background-color: #0b0b0d;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: whitesmoke;
}
p {
    font-family: 'Quattrocento Sans', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: 'Mukta', sans-serif;
    ackground-color: black;
    opacity: 1;
    color: white;
    padding-top: 12px;
    padding-bottom: 16px;
    padding-left: auto;
    padding-right: auto;
}

h1 {
    font-family: 'Lemon', cursive;
    color: tomato;
    letter-spacing: 1px;
    font-size: 2.2rem;
    text-align: center;
    align-items: center;
    opacity: 1;
}


.nav-links {
    display: flex;
    justify-content: space-around;
    margin-left: auto;
}

.nav-links a{
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 1rem;
}


.nav-links li {
    list-style: none;
}

.nav-links1 li {
    list-style: none;
}

.nav-links1 {
    display: flex;
    justify-content: space-around;
}

i:hover {
    transform: scale(1.6);
    transition: ease .3s;
    color: yellow;
}

.title {
    margin-right: 30px;
}

.social-media {
    margin-right: 10px;
}

.bar {
    padding: 8px;
    color:tomato;
}

.bar:hover {
    color: yellow;
    transform: scale(2);
}

.bar1 {
    padding: 10px;
    font-size: 20px;
    color: tomato;
}


.burger div {
    width: 15px;
    height: 2.5px;
    background-color: tomato;
    margin: 3px;
    display: flex;
    cursor: pointer;
    transition: all 0.3s ease;
}

.burger {
    display: none;
}

@media screen and (max-width:768px) {

    body {
        overflow-x: hidden;
    }

.nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 14vh;
    background-color: black;
    opacity: 0.95;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: 0.5s ease-in;
}

.nav-links li {
    opacity: 0;
}

.burger {
    display: block;
    color: tomato;
}

}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
   transform: rotate(-180deg) translate(12px, 14px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(180deg) translate(-12px, -14px);
}

/*********************Play Page***************/

h2 {
    margin: auto;
    text-align: center;
    left: 8%;
    font-family: 'Mukta', sans-serif;
    font-size: 4rem;
    color: yellow;
    letter-spacing: 10px;
}

.text-container {
    margin: auto;
    text-align: center;
}

span {
    color: #ffffff;
    font-size: 4.7rem;
    font-weight: bolder;
    font-family: 'Mukta', sans-serif;
    letter-spacing: 10px;
    animation: light 3s infinite;
    margin: auto;
}

@keyframes light{
    0%, 20%{
        color: #f7ff56;
        text-shadow: 0 0 10px yellow;
    }
    40%{
        color: #c81912;
        text-shadow: 0 0 10px red;
    }
    60%{
        color: #f7ff56;
        text-shadow: 0 0 10px yellow;
    }
    80%{
        color: #c81912;
        text-shadow: 0 0 10px red;
    }
    100%{
        color: #f7ff56;
        text-shadow: 0 0 10px yellow;
    }
}

span:nth-child(1){animation-delay: .25s;}
span:nth-child(2){animation-delay: .5s;}
span:nth-child(3){animation-delay: .75s;}
span:nth-child(4){animation-delay: 1s;}

/********* ABOUT PAGE ********/

.about-main-container {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-auto-rows: minmax(175px, auto);
    column-gap: 10px;
}


.about-image-box {
    background-color: wheat;
    overflow: hidden;
}

.badge-box {
    margin-right:  25px;
    ackground-color: violet;
    float: left;
}

#badge {
    height: 175px;
    width: 175px;
}

.about-box1 {
    float: right;
}

.about-box2 {
    background-color: brown;
    width: 80%
}


.video-box {
    margin: auto;
    background-color: cadetblue;

}

.video1 {
    margin: 0 auto;
    align-self: center;
}

.image-carousel-container {
    position: relative;
    border: 1.5px solid black;
    overflow: hidden;
    position: relative;
    background-color: chartreuse;
}

.image-carousel {
    display: flex;
    width: 100%;
    height: 430px;
}

.image-carousel img {
    width: 100%;
}

#prevBtn {
    position: absolute;
    top: 50%;
    z-index: 10;
    left: 5%;
    font-size: 30px;
    color: white;
    opacity: 0.9;
    cursor: pointer;
}

#nextBtn {
    position: absolute;
    top: 50%;
    z-index: 10;
    right: 5%;
    font-size: 30px;
    color: white;
    opacity: 0.9;
    cursor: pointer;
}

/*************collab page ********************/

.main-container {
    width: 93%;
    margin: auto;
    justify-content: center;
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: 33% 33% 33%;
    column-gap: 10px;
    row-gap: 10px;
    padding-top: 18px;
}

.img-grid {
    width: 100%;
    height: 100%;
}

.box1{
    position: relative;
}

.box2 {
    position: relative;
}

.box3 {
    position: relative;
}

.box4 {
    position: relative;
}

.box5 {
    position: relative;
}

.box6 {
    position: relative;
}

.overlay {
    background-color: rgba(207, 0, 15, .8);
    height: 100%;
    width: 100%;
    opacity: 0;
    top: 0;
    left: 0;
    position: absolute;
    padding: 70px;
    transition: opacity .5s;
}



.overlay:hover {
    opacity: 1;
    transition: opacity .5s;
}



p {
    color: yellow;
    margin: auto;
    text-align: center;
}

#p-collab {
        color: yellow;
        margin: auto;
        text-align: center;
        font-size: small;
}


/*************** HOME AND ABOUT styling **************/

.video-container {
    z-index: 0;
    overflow: hidden;
    height: 100vh;
    position: relative;
}

video {
    height: 100vh;
}

#text-overlay {
    z-index: 1;
    position: absolute;
    top: 29%;
    left: 5%;
    width: 90%;
}

#h2-1 {
    margin: auto;
    text-align: center;
    font-family: 'Mukta', sans-serif;
    color: yellow;
    font-size: 4rem;
    letter-spacing: 10px;
}

#p1 {
    margin: auto;
    text-align: center;
    font-family: 'Mukta', sans-serif;
    color: yellow;
    font-size: 1rem;
    letter-spacing: 2px;
}

.main-container p {
        color: yellow;
        margin: auto;
        text-align: center;
}